/* 
    body{
        background: #BDBDBD;
    }
    
    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  background: green;
}

.card {
  text-align: center;
  background: white;
  border-radius: 5%;
  border-color: black;
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  padding-top: 180px;
  font-size: 110px;

  &::before {
    content: "\2666";
    position: absolute;
    left: 30px;
    top: -5px;
  }
  &:after {
    content: "\2666";
    position: absolute;
    top: 345px;
    right: 30px;
  }
  &.heart::before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
